body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

input{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    font-size: 12px;
    padding-left: 10px;
    border-color: black;    
}

button{
    height: 60px;
    width: 80px;
    font-size: 16px;
    background-color: chartreuse;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    margin-inline-start: 120px;
    
    
   
}

#titulo{
  text-align: center;
}

#btncalcular:hover{
    background-color: rgb(102, 153, 203);
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    border-style: solid;
    border-color: mediumblue;
    border-width: 1px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: -20px 20px 20px rgb(63, 70, 75);   
    margin-left: 50px;
    background-color: aliceblue;
    
}





@keyframes example {
    from {background-color: rgb(20, 100, 211);}
    to {background-color: rgb(89, 153, 232);}
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {margin-inline: 10%;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .container { margin-inline: 10%;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container {margin-inline: 10%;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .container { margin-inline: 10%;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container { margin-inline: 10%;}
  }